<%- include('partials/head') %>

<%- include('partials/header') %>

<link rel="stylesheet" href="/resources/css/perfil.css">

<div class="perfil-wrapper">
  <div class="perfil-card">

    <h1>Editar Perfil</h1>
    <form action="/edit/<%= user.id %>" method="POST">

      <div class="mb-2">
        <input type="text" name="nombre" placeholder="Nombre" value="<%= user.nombre %>" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" name="apellido" placeholder="Apellido" value="<%= user.apellido %>" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" name="dni" placeholder="DNI" value="<%= user.dni %>" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" name="telefono" placeholder="Teléfono" value="<%= user.telefono %>" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" name="calle" placeholder="Calle" value="<%= user.calle %>" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" name="numero" placeholder="Número" value="<%= user.numero %>" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" name="poblacion" placeholder="Población" value="<%= user.poblacion %>" class="form-control">
      </div>
      <div class="mb-2">
        <input type="text" name="codigo_postal" placeholder="Código Postal" value="<%= user.codigo_postal %>" class="form-control">
      </div>

      <button type="submit" class="btn-edit-profile">Guardar Cambios</button>
      <a href="/perfil" class="btn btn-danger mt-2">Cancelar</a>
    </form>
  </div>
</div>

<%- include('partials/footer') %>
