<%- include('partials/head') %>

  <%- include('partials/header') %>

  <link rel="stylesheet" href="/resources/css/login.css">

<main class="auth-wrapper">
    <form class="login-container" action="/authadmin" method="POST">
      <h2>ADMINISTRADORES</h2>
      <label for="user">Ingrese su usuario:</label>
      <input type="text" name="user" id="user" placeholder="Ingrese su usuario">

      <label for="password">Ingrese su contraseña:</label>
      <input type="password" name="password" id="password" placeholder="Ingrese su contraseña">

      <button type="submit">INGRESAR</button>
    </form>

  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  <% if (typeof alert != 'undefined') { %>
  <script>
    Swal.fire({
      title: '<%= alertTitle %>',
      text: '<%= alertMessage %>',
      icon: '<%= alertIcon %>',
      background: 'linear-gradient(135deg, #2f6690ff, #3a7ca5ff)', // lapis-lazuli a cerulean
      color: '#ffffff', // texto blanco para buen contraste
      iconColor: '#81c3d7ff', // sky-blue para iconos
      confirmButtonText: 'Aceptar',
      confirmButtonColor: '#16425bff', // indigo-dye
      showCloseButton: true,
      showCancelButton: false,
      showConfirmButton: <%= showConfirmButton %>,
      timer: <%= timer %>,
      backdrop: `
      rgba(0,0,0,0.25)
      url("/resources/img/runner-bg.gif")
      left top
      no-repeat
    `,
      customClass: {
        popup: 'swal2-border-rounded',
        title: 'swal2-title-custom',
        content: 'swal2-content-custom'
      }
      }).then(() => {
      window.location = '/<%= ruta %>';
      });
  </script>
  <% } %>
  </main>

  <%- include('partials/footer') %>
  